.Document h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;  
  text-rendering: optimizeLegibility;
}

.container_xl{
  padding: 0;
  width: 90%;
  margin-left: 5%;
}

.ending_ele{
  margin-bottom: 4rem;
}

.container{
  width:100%;
  padding: 0;
}

.new_promotion{
  color: red;
  font-size: 1.2em;
}

.promotion_name{
  font-weight: bold;
  font-size: 1.2em;
}

