.Document h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 1.7rem;
  margin-bottom: 2.4rem;  
  text-rendering: optimizeLegibility;
}

.container_xl{
  padding: 0;
  width: 90%;
  margin-left: 5%;
}

.ending_ele{
  margin-bottom: 4rem;
}

.container{
  width:100%;
  padding: 0;
}

.promotion_name{
  font-weight: bold;
  font-size: 1.2em;
}

.small_text{
  font-size:0.8em;
}

.medium_text{
  font-size:0.9em;
}

.busi_box{
  height: 10vw;
  display: flex;
  align-items: center;
  min-height: 200px;
}

.busi_img{
  max-width:130px;
  max-height: 130px;
}

.section_title{
  padding: 1px;
}


@media only screen and (max-width: 640px)  {
  .section_title_lead{
    padding-bottom: 3em;
  }
  .section_title{
    padding-bottom: 3em;
    padding-top: 3em;
  }
  .item_padding{
    height:150px;
  }
  
}
